body{
    background-color: lightblue;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: 20px;
    text-align: 90px;
  }
  label {
      color: black;
  padding: 9px 9px 9px 0;
  display: inline-block ;
  font-weight: bold;
  display: block;
  width: 150px;
  /* float: left 20px; */
}


#whole{
background-color:white;
margin-left: 200px;
margin-right: 300px;
border-left:solid white 50px;
border-right: solid white 50px ;
border-top: solid white 50px;
border-bottom: solid white 50px;
}
